@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #4de897;
  --fundall_black: #30443C;
  --fundall_gray: #F2F3F7
}

body {
  background-color: #fcfbfc;
  padding: 12px;
  font-family: 'Circular Std', sans-serif;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
  /* cursor: not-allowed; */
}

.disable:hover {
  cursor: not-allowed;
}

.fundall-black {
  color: var(--fundall_black);
}

.bg-primary {
  background-color: var(--primary);
}

.fundall-gray {
  background: var(--fundall_gray);
}

.text-primary {
  color: var(--primary);
}

.border-primary {
  border-color: var(--primary);
}

.border-primary:focus {
  border-color: var(--primary);
}

@media (min-width: 1200px) {
  body {
    padding: 88px;
  }
}
